doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Twitter Fam Postlogin
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    script(src='http://code.jquery.com/jquery-3.4.0.js', integrity='sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    script(src="https://cdn.jsdelivr.net/npm/vue")
    script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')


  body#vapp.white-text
    #modal1.modal
        .modal-content.center-align.black-text
            h4 Are you sure you wish to logout?
            a.modal-close.btn.red(href='/logout') Logout
            | &nbsp
            a.modal-close.btn.green(href='#!') Cancel
    nav
        .container
            .nav-wrapper
                a.brand-logo(href='/dashboard') Twitter Fam
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href='/dashboard') Home
                    li
                        a.modal-trigger(data-target='modal1') Logout
    section
        .container
            .row
                .col.s12.xl12.offset-l1.offset-xl2
                    h6
                        b Welcome Back,
                    h2#welcomeBackName #{username}
                    br
                    h6 Connect to your Twitter profile to follow and unfollow users. 
                        span
                            button.btn.blue#connectTwitter Connect
                    if isAdmin
                        a(href="/adminPanel" target="__blank")
                            .btn.red Admin Panel
                    .row
                        .col.xl12.l12.m12.s12
                            #searchBar.input-field.inline
                                input#search(type='text' value=username)
                                span
                                    a#searchSubmit.btn-floating.btn-large.waves-effect.waves-light.red
                                        i.material-icons add

    section
        .container
            .row
                .col.s12.m6.l5.xl4.offset-l1.offset-xl2
                    .summaryComponent
                        .card
                            .card-content
                                h5
                                    b Followers
                                h1#nFollowers 0
                                br
                                .card-panel.blue.white-text
                                    canvas#chart1(width='200', height='200')
                            .card-action
                                a#getAllUnfollowing.btn-flat(href="#!") View Unfollowing

                .col.s12.m6.l5.xl4
                    .summaryComponent
                        .card
                            .card-content
                                h5
                                    b Following
                                h1#nFollowing 0
                                br
                                .card-panel.blue.white-text
                                    canvas#chart2(width='200', height='200')
                            .card-action
                                a#getAllUnfollowers.btn-flat(href="#!") View Unfollowers
    section
        .container
            .row
                .col.s12.m12.xl8.offset-l2.offset-xl2
                    h3
                        b#detailsTitle
                    #preloader
            .row
                .col.s12.m12.xl8.offset-l2.offset-xl2
                    ul.collection

script(src='/javascripts/dashboard.js')