extends layout

block content
    section
        .container
            .row
                h3 Twitter Fam
                .col.xl12.center-align
                    img(src="/images/log-out.png" width="200px")
                    h1 OOPS
                    h4
                        b We could not connect you to Twitter. Please retry.
                    a(href="/dashboard")
                        button.btn.btn-large.cGreen Retry
