extends layout

block content
    section
        .container
            .row
                h3 Twitter Fam
                .col.xl12.center-align
                    img(src="/images/log-out.png" width="200px")
                    h1 OOPS
                    h4
                        b You could not be logged in. Please retry.
                    a(href="/")
                        button.btn.btn-large.cGreen Retry
